## We will study about pandas

### Series: A Pandas like 1d labeled array that can hold any data types

In [7]:
import pandas as pd

In [12]:
data = [100.2, 200, 300]
series = pd.Series(data, index=["a","b","c"])
print(series[series > 150])

b    200.0
c    300.0
dtype: float64

In [5]:
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 

data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2)  

display(df,df1)

res = pd.merge(df, df1, on='key')
print(res)

  key    Name  Age
0  K0     Jai   27
1  K1  Princi   24
2  K2  Gaurav   22
3  K3    Anuj   32

  key    Address Qualification
0  K0     Nagpur         Btech
1  K1     Kanpur           B.A
2  K2  Allahabad          Bcom
3  K3    Kannuaj        B.hons

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

In [18]:
calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700}

series = pd.Series(calories)

series.loc["Day 3"] += 500
print(series.loc["Day 3"])
print(series)
print(series[series >= 2000])

2200
Day 1    1750
Day 2    2100
Day 3    2200
dtype: int64
Day 2    2100
Day 3    2200
dtype: int64

In [19]:
name = {1: 'John', 2: 'Smith', 3: 'Paul', 4: 'Yuvraj', 5: 'Singh', 6: 'Kohli'}

series = pd.Series(name)

print(series)

1      John
2     Smith
3      Paul
4    Yuvraj
5     Singh
6     Kohli
dtype: object

### Data Frames: A tabular data structure with rows and columns. (2 Dimensional) Similar to Excel Spreadsheet

In [29]:
data = {"Name": ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        "Age": [27, 24, 22, 32]}

df = pd.DataFrame(data, index=["Emp1", "Emp2", "Emp3", "Emp4"])
# print(df)
# print(df.loc["Emp2"])
# print(df.iloc[1])

#Adding a new column
df["Job"] = ["Engineer", "Doctor", "Artist", "Lawyer"]
# print(df)

#Adding new row
new_rows = pd.DataFrame([{"Name": "Karan", "Age": 29, "Job": "Architect"},{"Name": "Soni", "Age": 45, "Job": "Mech"}], index=["Emp5", "Emp6"])
df = pd.concat([df, new_rows])
print(df)

        Name  Age        Job
Emp1     Jai   27   Engineer
Emp2  Princi   24     Doctor
Emp3  Gaurav   22     Artist
Emp4    Anuj   32     Lawyer
Emp5   Karan   29  Architect
Emp6    Soni   45       Mech

### Importing:

In [32]:
df = pd.read_csv('data.csv')
print(df.to_string())

      No        Name     Type1     Type2  Height  Weight  Legendary
0      1   Bulbasaur     Grass    Poison     0.7     6.9          0
1      2     Ivysaur     Grass    Poison     1.0    13.0          0
2      3    Venusaur     Grass    Poison     2.0   100.0          0
3      4  Charmander      Fire       NaN     0.6     8.5          0
4      5  Charmeleon      Fire       NaN     1.1    19.0          0
5      6   Charizard      Fire    Flying     1.7    90.5          0
6      7    Squirtle     Water       NaN     0.5     9.0          0
7      8   Wartortle     Water       NaN     1.0    22.5          0
8      9   Blastoise     Water       NaN     1.6    85.5          0
9     10    Caterpie       Bug       NaN     0.3     2.9          0
10    11     Metapod       Bug       NaN     0.7     9.9          0
11    12  Butterfree       Bug    Flying     1.1    32.0          0
12    13      Weedle       Bug    Poison     0.3     3.2          0
13    14      Kakuna       Bug    Poison     0.6    10.0          0
14    15    Beedrill       Bug    Poison     1.0    29.5          0
15    16      Pidgey    Normal    Flying     0.3     1.8          0
16    17   Pidgeotto    Normal    Flying     1.1    30.0          0
17    18     Pidgeot    Normal    Flying     1.5    39.5          0
18    19     Rattata    Normal       NaN     0.3     3.5          0
19    20    Raticate    Normal       NaN     0.7    18.5          0
20    21     Spearow    Normal    Flying     0.3     2.0          0
21    22      Fearow    Normal    Flying     1.2    38.0          0
22    23       Ekans    Poison       NaN     2.0     6.9          0
23    24       Arbok    Poison       NaN     3.5    65.0          0
24    25     Pikachu  Electric       NaN     0.4     6.0          0
25    26      Raichu  Electric       NaN     0.8    30.0          0
26    27   Sandshrew    Ground       NaN     0.6    12.0          0
27    28   Sandslash    Ground       NaN     1.0    29.5          0
28    29    Nidoran♀    Poison       NaN     0.4     7.0          0
29    30    Nidorina    Poison       NaN     0.8    20.0          0
30    31   Nidoqueen    Poison    Ground     1.3    60.0          0
31    32    Nidoran♂    Poison       NaN     0.5     9.0          0
32    33    Nidorino    Poison       NaN     0.9    19.5          0
33    34    Nidoking    Poison    Ground     1.4    62.0          0
34    35    Clefairy     Fairy       NaN     0.6     7.5          0
35    36    Clefable     Fairy       NaN     1.3    40.0          0
36    37      Vulpix      Fire       NaN     0.6     9.9          0
37    38   Ninetales      Fire       NaN     1.1    19.9          0
38    39  Jigglypuff    Normal     Fairy     0.5     5.5          0
39    40  Wigglytuff    Normal     Fairy     1.0    12.0          0
40    41       Zubat    Poison    Flying     0.8     7.5          0
41    42      Golbat    Poison    Flying     1.6    55.0          0
42    43      Oddish     Grass    Poison     0.5     5.4          0
43    44       Gloom     Grass    Poison     0.8     8.6          0
44    45   Vileplume     Grass    Poison     1.2    18.6          0
45    46       Paras       Bug     Grass     0.3     5.4          0
46    47    Parasect       Bug     Grass     1.0    29.5          0
47    48     Venonat       Bug    Poison     1.0    30.0          0
48    49    Venomoth       Bug    Poison     1.5    12.5          0
49    50     Diglett    Ground       NaN     0.2     0.8          0
50    51     Dugtrio    Ground       NaN     0.7    33.3          0
51    52      Meowth    Normal       NaN     0.4     4.2          0
52    53     Persian    Normal       NaN     1.0    32.0          0
53    54     Psyduck     Water       NaN     0.8    19.6          0
54    55     Golduck     Water       NaN     1.7    76.6          0
55    56      Mankey  Fighting       NaN     0.5    28.0          0
56    57    Primeape  Fighting       NaN     1.0    32.0          0
57    58   Growlithe      Fire       NaN     0.7    19.0          0
58    59    Arcanine      Fire       NaN     1.9   155.0          0
59    60     Poliwag     Water       NaN     0.6    12.4          0
60    61   Poliwhirl     Water       NaN     1.0    20.0          0
61    62   Poliwrath     Water  Fighting     1.3    54.0          0
62    63        Abra   Psychic       NaN     0.9    19.5          0
63    64     Kadabra   Psychic       NaN     1.3    56.5          0
64    65    Alakazam   Psychic       NaN     1.5    48.0          0
65    66      Machop  Fighting       NaN     0.8    19.5          0
66    67     Machoke  Fighting       NaN     1.5    70.5          0
67    68     Machamp  Fighting       NaN     1.6   130.0          0
68    69  Bellsprout     Grass    Poison     0.7     4.0          0
69    70  Weepinbell     Grass    Poison     1.0     6.4          0
70    71  Victreebel     Grass    Poison     1.7    15.5          0
71    72   Tentacool     Water    Poison     0.9    45.5          0
72    73  Tentacruel     Water    Poison     1.6    55.0          0
73    74     Geodude      Rock    Ground     0.4    20.0          0
74    75    Graveler      Rock    Ground     1.0   105.0          0
75    76       Golem      Rock    Ground     1.4   300.0          0
76    77      Ponyta      Fire       NaN     1.0    30.0          0
77    78    Rapidash      Fire       NaN     1.7    95.0          0
78    79    Slowpoke     Water   Psychic     1.2    36.0          0
79    80     Slowbro     Water   Psychic     1.6    78.5          0
80    81   Magnemite  Electric     Steel     0.3     6.0          0
81    82    Magneton  Electric     Steel     1.0    60.0          0
82    83  Farfetch'd    Normal    Flying     0.8    15.0          0
83    84       Doduo    Normal    Flying     1.4    39.2          0
84    85      Dodrio    Normal    Flying     1.8    85.2          0
85    86        Seel     Water       NaN     1.1    90.0          0
86    87     Dewgong     Water       Ice     1.7   120.0          0
87    88      Grimer    Poison       NaN     0.9    30.0          0
88    89         Muk    Poison       NaN     1.2    30.0          0
89    90    Shellder     Water       NaN     0.3     4.0          0
90    91    Cloyster     Water       Ice     1.5   132.5          0
91    92      Gastly     Ghost    Poison     1.3     0.1          0
92    93     Haunter     Ghost    Poison     1.6     0.1          0
93    94      Gengar     Ghost    Poison     1.5    40.5          0
94    95        Onix      Rock    Ground     8.8   210.0          0
95    96     Drowzee   Psychic       NaN     1.0    32.4          0
96    97       Hypno   Psychic       NaN     1.6    75.6          0
97    98      Krabby     Water       NaN     0.4     6.5          0
98    99     Kingler     Water       NaN     1.3    60.0          0
99   100     Voltorb  Electric       NaN     0.5    10.4          0
100  101   Electrode  Electric       NaN     1.2    66.6          0
101  102   Exeggcute     Grass   Psychic     0.4     2.5          0
102  103   Exeggutor     Grass   Psychic     2.0   120.0          0
103  104      Cubone    Ground       NaN     0.4     6.5          0
104  105     Marowak    Ground       NaN     1.0    45.0          0
105  106   Hitmonlee  Fighting       NaN     1.5    49.8          0
106  107  Hitmonchan  Fighting       NaN     1.4    50.2          0
107  108   Lickitung    Normal       NaN     1.2    65.5          0
108  109     Koffing    Poison       NaN     0.6     1.0          0
109  110     Weezing    Poison       NaN     1.2     9.5          0
110  111     Rhyhorn    Ground      Rock     1.0   115.0          0
111  112      Rhydon    Ground      Rock     1.9   120.0          0
112  113     Chansey    Normal       NaN     1.1    34.6          0
113  114     Tangela     Grass       NaN     1.0    35.0          0
114  115  Kangaskhan    Normal       NaN     2.2    80.0          0
115  116      Horsea     Water       NaN     0.4     8.0          0
116  117      Seadra     Water       NaN     1.2    25.0          0
117  118     Goldeen     Water       NaN     0.6    15.0          0
118  119     Seaking     Water       NaN     1.3    39.0          0
119  120      Staryu     Water       NaN     0.8    34.5          0
120  121     Starmie     Water   Psychic     1.1    80.0          0
121  122    Mr. Mime   Psychic     Fairy     1.3    54.5          0
122  123     Scyther       Bug    Flying     1.5    56.0          0
123  124        Jynx       Ice   Psychic     1.4    40.6          0
124  125  Electabuzz  Electric       NaN     1.1    30.0          0
125  126      Magmar      Fire       NaN     1.3    44.5          0
126  127      Pinsir       Bug       NaN     1.5    55.0          0
127  128      Tauros    Normal       NaN     1.4    88.4          0
128  129    Magikarp     Water       NaN     0.9    10.0          0
129  130    Gyarados     Water    Flying     6.5   235.0          0
130  131      Lapras     Water       Ice     2.5   220.0          0
131  132       Ditto    Normal       NaN     0.3     4.0          0
132  133       Eevee    Normal       NaN     0.3     6.5          0
133  134    Vaporeon     Water       NaN     1.0    29.0          0
134  135     Jolteon  Electric       NaN     0.8    24.5          0
135  136     Flareon      Fire       NaN     0.9    25.0          0
136  137     Porygon    Normal       NaN     0.8    36.5          0
137  138     Omanyte      Rock     Water     0.4     7.5          0
138  139     Omastar      Rock     Water     1.0    35.0          0
139  140      Kabuto      Rock     Water     0.5    11.5          0
140  141    Kabutops      Rock     Water     1.3    40.5          0
141  142  Aerodactyl      Rock    Flying     1.8    59.0          0
142  143     Snorlax    Normal       NaN     2.1   460.0          0
143  144    Articuno       Ice    Flying     1.7    55.4          1
144  145      Zapdos  Electric    Flying     1.6    52.6          1
145  146     Moltres      Fire    Flying     2.0    60.0          1
146  147     Dratini    Dragon       NaN     1.8     3.3          0
147  148   Dragonair    Dragon       NaN     4.0    16.5          0
148  149   Dragonite    Dragon    Flying     2.2   210.0          0
149  150      Mewtwo   Psychic       NaN     2.0   122.0          1

### Selection

In [51]:
#Selection by Column
df = pd.read_csv("data.csv", index_col="Name")
# print(df["Name"])
# print(df["Height"].to_string())
# print(df["Weight"].to_string())
# print(df[["Name", "Height", "Weight"]].to_string())


#Selection By ROWS
# print(df.loc["Charizard":"Blastoise", ["Height", "Weight"]])
# print(df.iloc[0:11:2, 0:3])

pokemon = input("Enter the pokemon name: ")
try:
    print(df.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found in the database.")

No                 25
Type1        Electric
Type2             NaN
Height            0.4
Weight            6.0
Legendary           0
Name: Pikachu, dtype: object

# Filtering

In [59]:
#Filtering the rows that matches the condition.

df = pd.read_csv("Data.csv")

# tall_pokemon = df[df["Height"] >= 2]
heavy_pokemon = df[df["Weight"] >= 100]

legendary_pokemon = df[df["Legendary"] == True]

water_pokemon = df[(df["Type1"] == "Water")| (df["Type2"] == "Water")]

ff_pokemon = df[(df["Type1"] == "Fire") & (df["Type2"] == "Flying")]

print(ff_pokemon)

      No       Name Type1   Type2  Height  Weight  Legendary
5      6  Charizard  Fire  Flying     1.7    90.5          0
145  146    Moltres  Fire  Flying     2.0    60.0          1

#### Aggregate Funtion = Reduces a set of values into a single summary value. Used to summarize and analyze data. Often used with the groupby() function.

In [85]:
df = pd.read_csv('data.csv')
# print(df)

# print(df.mean)

#whole DataFrame
# print(df.mean(numeric_only=True))
# print(df.sum(numeric_only=True))
# print(df.min(numeric_only=True))
# print(df.max(numeric_only=True))
# print(df.count())

#Single Frame
# print(df["Height"].mean())
# print(df['Height'].sum())
# print(df["Height"].min())
# print(df['Height'].max())
# print(df['Height'].count())


group = df.groupby("Type1")

# print(group["Height"].mean())
print(group["Height"].sum())
print(group["Height"].min())
print(group["Height"].max())
print(group["Height"].count())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic      9.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64
Type1
Bug         0.3
Dragon      1.8
Electric    0.3
Fairy       0.6
Fighting    0.5
Fire        0.6
Ghost       1.3
Grass       0.4
Ground      0.2
Ice         1.4
Normal      0.3
Poison      0.4
Psychic     0.9
Rock        0.4
Water       0.3
Name: Height, dtype: float64
Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64
Type1
Bug         12
Dragon       3
Electric     9
Fairy        2
Fighting     7
Fire        12
Ghost        3
Grass       12
Ground       8
Ice          2
Normal      22
Poison      14
Psychic      7
Rock         9
Water       28
Name: Height, dtype: int64

### Data Cleaning: The process of Fixing/removing incomplete, incorrect, or irrelevent data ~75% of work done with Panda is data cleaning.

In [101]:
df = pd.read_csv("Data.csv")

#1. Drop irrelevent Column
# df=df.drop(columns=["Legendary", "No"])
# print(df)

#2. Handling missing Data
# df = df.dropna(subset=["Type2"])
# print(df.to_string())

# df = df.fillna({"Type2": "Unknown"})
# print(df.to_string())


#3. Fix inconsistent data
# df["Type1"] = df["Type1"].replace({"Grass": "GRASS", "Fire": "FIRE", "Water": "WATER"})
# print(df.to_string())

#4. Standrize Text
# df["Name"] = df["Name"].str.lower()
# print(df.to_string())

#5. FIx Data Types:
# df["Legendary"] = df["Legendary"].astype(bool)
# print(df.to_string())

#6. Remove Duplicates
df = df.drop_duplicates()
print(df.to_string())

      No        Name     Type1     Type2  Height  Weight  Legendary
0      1   Bulbasaur     Grass    Poison     0.7     6.9          0
7      2     Ivysaur     Grass    Poison     1.0    13.0          0
8      3    Venusaur     Grass    Poison     2.0   100.0          0
9      4  Charmander      Fire       NaN     0.6     8.5          0
10     5  Charmeleon      Fire       NaN     1.1    19.0          0
11     6   Charizard      Fire    Flying     1.7    90.5          0
12     7    Squirtle     Water       NaN     0.5     9.0          0
13     8   Wartortle     Water       NaN     1.0    22.5          0
14     9   Blastoise     Water       NaN     1.6    85.5          0
15    10    Caterpie       Bug       NaN     0.3     2.9          0
16    11     Metapod       Bug       NaN     0.7     9.9          0
17    12  Butterfree       Bug    Flying     1.1    32.0          0
18    13      Weedle       Bug    Poison     0.3     3.2          0
19    14      Kakuna       Bug    Poison     0.6    10.0          0
20    15    Beedrill       Bug    Poison     1.0    29.5          0
21    16      Pidgey    Normal    Flying     0.3     1.8          0
22    17   Pidgeotto    Normal    Flying     1.1    30.0          0
23    18     Pidgeot    Normal    Flying     1.5    39.5          0
24    19     Rattata    Normal       NaN     0.3     3.5          0
25    20    Raticate    Normal       NaN     0.7    18.5          0
26    21     Spearow    Normal    Flying     0.3     2.0          0
27    22      Fearow    Normal    Flying     1.2    38.0          0
28    23       Ekans    Poison       NaN     2.0     6.9          0
29    24       Arbok    Poison       NaN     3.5    65.0          0
30    25     Pikachu  Electric       NaN     0.4     6.0          0
31    26      Raichu  Electric       NaN     0.8    30.0          0
32    27   Sandshrew    Ground       NaN     0.6    12.0          0
33    28   Sandslash    Ground       NaN     1.0    29.5          0
34    29    Nidoran♀    Poison       NaN     0.4     7.0          0
35    30    Nidorina    Poison       NaN     0.8    20.0          0
36    31   Nidoqueen    Poison    Ground     1.3    60.0          0
37    32    Nidoran♂    Poison       NaN     0.5     9.0          0
38    33    Nidorino    Poison       NaN     0.9    19.5          0
39    34    Nidoking    Poison    Ground     1.4    62.0          0
40    35    Clefairy     Fairy       NaN     0.6     7.5          0
41    36    Clefable     Fairy       NaN     1.3    40.0          0
42    37      Vulpix      Fire       NaN     0.6     9.9          0
43    38   Ninetales      Fire       NaN     1.1    19.9          0
44    39  Jigglypuff    Normal     Fairy     0.5     5.5          0
45    40  Wigglytuff    Normal     Fairy     1.0    12.0          0
46    41       Zubat    Poison    Flying     0.8     7.5          0
47    42      Golbat    Poison    Flying     1.6    55.0          0
48    43      Oddish     Grass    Poison     0.5     5.4          0
49    44       Gloom     Grass    Poison     0.8     8.6          0
50    45   Vileplume     Grass    Poison     1.2    18.6          0
51    46       Paras       Bug     Grass     0.3     5.4          0
52    47    Parasect       Bug     Grass     1.0    29.5          0
53    48     Venonat       Bug    Poison     1.0    30.0          0
54    49    Venomoth       Bug    Poison     1.5    12.5          0
55    50     Diglett    Ground       NaN     0.2     0.8          0
56    51     Dugtrio    Ground       NaN     0.7    33.3          0
57    52      Meowth    Normal       NaN     0.4     4.2          0
58    53     Persian    Normal       NaN     1.0    32.0          0
59    54     Psyduck     Water       NaN     0.8    19.6          0
60    55     Golduck     Water       NaN     1.7    76.6          0
61    56      Mankey  Fighting       NaN     0.5    28.0          0
62    57    Primeape  Fighting       NaN     1.0    32.0          0
63    58   Growlithe      Fire       NaN     0.7    19.0          0
64    59    Arcanine      Fire       NaN     1.9   155.0          0
65    60     Poliwag     Water       NaN     0.6    12.4          0
66    61   Poliwhirl     Water       NaN     1.0    20.0          0
67    62   Poliwrath     Water  Fighting     1.3    54.0          0
68    63        Abra   Psychic       NaN     0.9    19.5          0
69    64     Kadabra   Psychic       NaN     1.3    56.5          0
70    65    Alakazam   Psychic       NaN     1.5    48.0          0
71    66      Machop  Fighting       NaN     0.8    19.5          0
72    67     Machoke  Fighting       NaN     1.5    70.5          0
73    68     Machamp  Fighting       NaN     1.6   130.0          0
74    69  Bellsprout     Grass    Poison     0.7     4.0          0
75    70  Weepinbell     Grass    Poison     1.0     6.4          0
76    71  Victreebel     Grass    Poison     1.7    15.5          0
77    72   Tentacool     Water    Poison     0.9    45.5          0
78    73  Tentacruel     Water    Poison     1.6    55.0          0
79    74     Geodude      Rock    Ground     0.4    20.0          0
80    75    Graveler      Rock    Ground     1.0   105.0          0
81    76       Golem      Rock    Ground     1.4   300.0          0
82    77      Ponyta      Fire       NaN     1.0    30.0          0
83    78    Rapidash      Fire       NaN     1.7    95.0          0
84    79    Slowpoke     Water   Psychic     1.2    36.0          0
85    80     Slowbro     Water   Psychic     1.6    78.5          0
86    81   Magnemite  Electric     Steel     0.3     6.0          0
87    82    Magneton  Electric     Steel     1.0    60.0          0
88    83  Farfetch'd    Normal    Flying     0.8    15.0          0
89    84       Doduo    Normal    Flying     1.4    39.2          0
90    85      Dodrio    Normal    Flying     1.8    85.2          0
91    86        Seel     Water       NaN     1.1    90.0          0
92    87     Dewgong     Water       Ice     1.7   120.0          0
93    88      Grimer    Poison       NaN     0.9    30.0          0
94    89         Muk    Poison       NaN     1.2    30.0          0
95    90    Shellder     Water       NaN     0.3     4.0          0
96    91    Cloyster     Water       Ice     1.5   132.5          0
97    92      Gastly     Ghost    Poison     1.3     0.1          0
98    93     Haunter     Ghost    Poison     1.6     0.1          0
99    94      Gengar     Ghost    Poison     1.5    40.5          0
100   95        Onix      Rock    Ground     8.8   210.0          0
101   96     Drowzee   Psychic       NaN     1.0    32.4          0
102   97       Hypno   Psychic       NaN     1.6    75.6          0
103   98      Krabby     Water       NaN     0.4     6.5          0
104   99     Kingler     Water       NaN     1.3    60.0          0
105  100     Voltorb  Electric       NaN     0.5    10.4          0
106  101   Electrode  Electric       NaN     1.2    66.6          0
107  102   Exeggcute     Grass   Psychic     0.4     2.5          0
108  103   Exeggutor     Grass   Psychic     2.0   120.0          0
109  104      Cubone    Ground       NaN     0.4     6.5          0
110  105     Marowak    Ground       NaN     1.0    45.0          0
111  106   Hitmonlee  Fighting       NaN     1.5    49.8          0
112  107  Hitmonchan  Fighting       NaN     1.4    50.2          0
113  108   Lickitung    Normal       NaN     1.2    65.5          0
114  109     Koffing    Poison       NaN     0.6     1.0          0
115  110     Weezing    Poison       NaN     1.2     9.5          0
116  111     Rhyhorn    Ground      Rock     1.0   115.0          0
117  112      Rhydon    Ground      Rock     1.9   120.0          0
118  113     Chansey    Normal       NaN     1.1    34.6          0
119  114     Tangela     Grass       NaN     1.0    35.0          0
120  115  Kangaskhan    Normal       NaN     2.2    80.0          0
121  116      Horsea     Water       NaN     0.4     8.0          0
122  117      Seadra     Water       NaN     1.2    25.0          0
123  118     Goldeen     Water       NaN     0.6    15.0          0
124  119     Seaking     Water       NaN     1.3    39.0          0
125  120      Staryu     Water       NaN     0.8    34.5          0
126  121     Starmie     Water   Psychic     1.1    80.0          0
127  122    Mr. Mime   Psychic     Fairy     1.3    54.5          0
128  123     Scyther       Bug    Flying     1.5    56.0          0
129  124        Jynx       Ice   Psychic     1.4    40.6          0
130  125  Electabuzz  Electric       NaN     1.1    30.0          0
131  126      Magmar      Fire       NaN     1.3    44.5          0
132  127      Pinsir       Bug       NaN     1.5    55.0          0
133  128      Tauros    Normal       NaN     1.4    88.4          0
134  129    Magikarp     Water       NaN     0.9    10.0          0
135  130    Gyarados     Water    Flying     6.5   235.0          0
136  131      Lapras     Water       Ice     2.5   220.0          0
137  132       Ditto    Normal       NaN     0.3     4.0          0
138  133       Eevee    Normal       NaN     0.3     6.5          0
139  134    Vaporeon     Water       NaN     1.0    29.0          0
140  135     Jolteon  Electric       NaN     0.8    24.5          0
141  136     Flareon      Fire       NaN     0.9    25.0          0
142  137     Porygon    Normal       NaN     0.8    36.5          0
143  138     Omanyte      Rock     Water     0.4     7.5          0
144  139     Omastar      Rock     Water     1.0    35.0          0
145  140      Kabuto      Rock     Water     0.5    11.5          0
146  141    Kabutops      Rock     Water     1.3    40.5          0
147  142  Aerodactyl      Rock    Flying     1.8    59.0          0
148  143     Snorlax    Normal       NaN     2.1   460.0          0
149  144    Articuno       Ice    Flying     1.7    55.4          1
150  145      Zapdos  Electric    Flying     1.6    52.6          1
151  146     Moltres      Fire    Flying     2.0    60.0          1
152  147     Dratini    Dragon       NaN     1.8     3.3          0
153  148   Dragonair    Dragon       NaN     4.0    16.5          0
154  149   Dragonite    Dragon    Flying     2.2   210.0          0
155  150      Mewtwo   Psychic       NaN     2.0   122.0          1